.inputStyle{
    background:  rgba(240, 255, 255, 0.267);
    border: none;
    height: 40px;
    width: 350px;
    color: rgb(255, 255, 255) !important;
    border-radius: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    margin-bottom: 15px;
}
.inputStyle:hover{
    outline: #dfdddd9c solid 2px;
    background-color: transparent;
}